form input {
  color:blue;
}
@keyframes animar {
  from {
    backgroud-color: yellow;
    width=50px;
  }
  to{
        backgroud-color: blue;
    width=400px;
  }
}
input [type ="submit"]
{
animation-name: animar;
animation-duration: 5s;
}
